*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 40px;
}

h2{
  text-align: center;
  font-size: 40px;
  background-color: rgba(105, 105, 105, 0.541) ;
}

h3{
  text-align: center;
  font-size: 30px;
}


.header {
  background-color: rgb(105, 105, 105);
}

.navBar{
  width: 100%;
  background-color: rgb(105, 105, 105);
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.listaNav{
  display: flex;
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 25px;
  gap: 40px;
}
.listaNav a{
  color: white;
}
.listaNav a:hover{
  color: black;
}

.logo {
  width: auto;
  height:80px;

}

.cartIcon{
  justify-content: flex-end !important;
}


.cartImg{
  height: 45px;
  width: auto;
}

.img{
  height: 300px;
  width: auto;
}

.card{
  list-style-type: none;
  margin: 15px;
  display: grid;
  grid-template-columns:repeat(3, 1fr) ;
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  gap: 15px;
}

.li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  rgba(105, 105, 105, 0.288);
  margin: 15px;
  border-radius: 80px;
  transition: 0.3s ease;
}
.li:hover{
  box-shadow: 0 10px 20px rgb(0, 0, 0);
}

.li-button{
  margin-bottom: 20px;
  color: wheat;
}
.li-button:hover{
  color: black;
}

.img-card{
  width: 60%;
  height: auto;
  margin-top: 30px;
  border-radius: 30px;
  transition: 0.3s ease;
}

.img-card:hover{
  width: 63%;
  height: auto;
}
