*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(105, 105, 105);
}

.navBar{
  background-color: rgb(105, 105, 105);
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.listaNav{
  display: flex;
  gap: 20px;
  list-style: none;
}

.logo {
  width: auto;
  height:80px;
}

.cartIcon{
  justify-content: flex-end !important;
}
